[submodule "projects/data-science/nlp-apps/resume-analyzer"]
	path = projects/data-science/nlp-apps/resume-analyzer
	url = https://github.com/Code-A2Z/resume-analyzer.git
[submodule "projects/data-science/nlp-apps/film-sentiment-analyzer-nltk"]
	path = projects/data-science/nlp-apps/film-sentiment-analyzer-nltk
	url = https://github.com/Code-A2Z/film-sentiment-analyzer-nltk.git
[submodule "projects/web-development/backend/text-extraction-ocr"]
	path = projects/web-development/backend/text-extraction-ocr
	url = https://github.com/Code-A2Z/text-extraction-ocr.git
